<%= simple_form_for(@item, url: yield(:path)) do |f| %>
<%= f.error_notification %> 

<div class="rightsignup">  
  <div class="container">
    <div class="row">
      <div class="form-group col-md-9">
        <%= f.input :item_name, placeholder: "Type item's name here" %>
      </div>
      <div class="form-group col-md-9">   
        <%= f.input  :description, as: :text, placeholder: "Type item's description here" %>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-4">
        <%= f.input :price, placeholder: "Type item's price here " %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :modifiers, placeholder: "Type any special instructions here"%>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-6">
        <%= f.input :menu, as: :select, :collection => Item.menus.keys.to_a %>
        <%= f.input :section, as: :select, :collection => Item.sections.keys.to_a %>
        <%= f.input :availability, { label: "Check or uncheck available/unavailable"} %>
      </div>
      <div class="clearfix"></div>
      <div class="container">
        <div class="row">
          <div class=" btn">
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          </div>
        </div>
    </div>
  </div>
<% end %>
