<footer class="footer">
    <small>
      Roy's place, A sandwich heaven, yummie!    
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Menus",   menus_path %></li>
        <li><%= link_to "Bagged",  bagged_path %></li>
        <li><%= link_to "Offers",  offers_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Sign Up",  signup_path %></li>
      </ul>
    </nav>
</footer>
