<header class="navbar navbar-fixed-left navbar-inverse">
      <div class="container">
        <%= link_to "Roy's Place", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",    root_path %></li>
            <%= render 'layouts/drop_down/about' %>
            <%= render 'layouts/drop_down/menus' %>
            <%= render 'layouts/drop_down/bagged' %>
            <%= render 'layouts/drop_down/offers' %>
            <%= render 'layouts/drop_down/engageus' %> 
            <% if logged_in? %>
            <%= render 'layouts/drop_down/account' %>
            <% else %>
            <li><%= link_to "LogIn", user_login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
</header>